@use "sass:color";
@use "../common/variables";

.link--internal {
  box-shadow: var(--shadow-1);
  border-width: 1px;
  border-style: solid;
  border-color: color.adjust(variables.$text-1, $lightness: 75%);
  margin-block: 1rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "text pic"
  ;
  grid-template-columns: 3fr 1fr;

  &:hover {
    border-color: color.adjust(variables.$text-1, $lightness: 67%);
    box-shadow: var(--shadow-3);
  }
}

.link--internal__content {
  grid-area: text;
  padding: 1.5rem 1rem;

  h2 {
    font-size: var(--font-size-fluid-0);
    margin-block: 0 0.5rem;
  }

  .summary {
    font-size: var(--font-size-fluid-00);
  }
}

.link--internal__image {
  grid-area: pic;
  overflow: hidden;
  position: relative;

  picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}
