@use "sass:color";
@use "../common/variables";
@use "../tools/px-to-rem" as ptr;

.link--internal {
  box-shadow: var(--shadow-1);
  border-width: 1px;
  border-style: solid;
  border-color: color.adjust(variables.$text-1, $lightness: 75%);
  margin-block: 1rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "text pic"
  ;
  grid-template-columns: 3fr 1fr;

  &:hover {
    border-color: color.adjust(variables.$text-1, $lightness: 67%);
    box-shadow: var(--shadow-3);
  }
}

.link--internal__content {
  grid-area: text;
  padding: 1.5rem 1rem;

  h2 {
    font-size: var(--font-size-fluid-0);
    margin-block: 0 0.5rem;
  }

  .summary {
    font-size: var(--font-size-fluid-00);
  }
}

.link--internal__image {
  grid-area: pic;
  overflow: hidden;
  position: relative;

  picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}

.single-meta-back,
.single-meta-forward {
  position: relative;
  display: inline-block;

  &:hover {
    &::before {
      // background-color: $mako;
      transform: translateX(-5px);
    }
  }
}

.single-meta-back {
  padding-inline-start: ptr.px-to-rem(24px);
  margin-inline-start: calc(-1 * ptr.px-to-rem(24px));

  &::before {
    position: absolute;
    content: "\23F4";
    top: calc(50% - 8px);
    left: 0;
    padding-inline-start: calc(-1 * var(--size-4));
    font-size: var(--size-3);
    height: ptr.px-to-rem(18px);
    width: ptr.px-to-rem(18px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
  }

  &.smaller {
    &::before {
      top: calc(50% - 7px);
      font-size: var(--size-2-5);
      height: ptr.px-to-rem(14px);
      width: ptr.px-to-rem(14px);
    }
  }
}

.single-meta-forward {
  padding-inline-end: var(--size-4);
  text-decoration: underline 0.1em transparent;

  &::after {
    position: absolute;
    // content: '\2B9E';
    content: "\23F5";
    top: calc(50% - 9px);
    right: 0;
    font-size: var(--size-3);
    height: ptr.px-to-rem(18px);
    width: ptr.px-to-rem(18px);
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    &::after {
      // background-color: $mako;
      transform: translateX(5px);
    }
  }

  &.smaller {
    &::after {
      top: calc(50% - 7px);
      font-size: var(--size-2-5);
      height: ptr.px-to-rem(14px);
      width: ptr.px-to-rem(14px);
    }
  }
}

.single-meta-button {
  display: inline-block;
  font-family: var(--font-headings);
  background-color: var(--color-brand-primary);
  --single-meta-button--text-color: var(--color-brand-white);
  color: var(--single-meta-button--text-color);
  font-weight: bold;
  padding-inline : var(--size-6) var(--size-7);
  padding-block: var(--size-3);
  border-radius: var(--size-3);
  transition: all 0.2s ease;
  text-decoration: none;

  &:hover {
    background-color: var(--color-brand-primary-dark);
    --single-meta-button--text-color: var(--color-brand-white);
    text-decoration: none;
    border-radius: var(--size-1);
    transition: all 0.2s ease;
  }

  &.single-meta-forward-button-blue {
    background-color: var(--color-brand-secondary);

    &:hover {
      background-color: var(--color-brand-secondary-dark);
    }
  }

  &.single-meta-button--black {
    background-color: var(--color-brand-black);
    --single-meta-button--text-color: var(--color-brand-primary);

    &:hover {
      --single-meta-button--text-color: var(--color-brand-primary);
    }
  }
}

.single-meta-forward-button {
  &::after {
    right: 1rem;
    top: calc(50% - 0.5rem);
  }
}

.single-meta-back-button {
  &::before {
    left: 0.675rem;
    top: calc(50% - 0.5rem);
  }
}
