@use "sass:color";
@use "../common/variables";
@use "../tools/px-to-rem";

.page {
  position: relative;

  .page__metadata {
    margin-block: var(--size-5);
    padding-block: var(--size-3);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: color.adjust(variables.$text-1, $lightness: 67%);
  }

  >* {
    position: relative;
    z-index: 1;
  }

  .separator {
    text-align: center;
    margin-block: var(--size-3);
    padding-block: var(--size-2);
    font-size:  var(--size-7);
  }

  :where(h2),
  :where(h3),
  .h2-style,
  .h3-style {
    margin-block: var(--size-7) var(--size-2);

    +p {
      margin-block-start: 0;
    }
  }

  :where(h4),
  .h4-style {
    margin-block: var(--size-5) var(--size-2);

    +p {
      margin-block-start: 0;
    }
  }

  hr {
    background-color: unset;
    height: unset;
    display: grid;
    justify-content: center;
    margin-block: var(--size-fluid-3);

    &:after {
      content: "•••";
      letter-spacing: var(--size-3);
      font-size: var(--font-size-2);
      line-height: var(--font-lineheight-1);
      color: var(--color-brand-primary);
      margin-inline: auto;
    }
  }
}

.page-title {
  padding: px-to-rem.px-to-rem(variables.$mobile-space) 0;
  margin-block-end: px-to-rem.px-to-rem(variables.$mobile-space);
}

.page-title__heading {
  font-size: var(--font-size-fluid-3);
  max-inline-size: var(--size-header-2);
}

.page--with-hero {
  padding-block-start: 60vh;

  .page-title {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 60vh;
    color: var(--surface-1);
    display: flex;
    padding: px-to-rem.px-to-rem(2 * variables.$mobile-space) 0;
    margin-block-end: 0;
  }

  .title-bar {
    align-self: flex-end;
  }
}

.page__summary {

  :where(p) {
    font-size: var(--font-size-fluid-1);
    line-height: var(--size-6);
    font-weight: 600;
  }
}

.page--writing--light {
  .page__summary {
    color: var(--surface-1);
  }
}
