/* ==========================================================================
ELEMENTS
========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */

 :root {
    font-size: $base-font-size;
  }
  
  html {
    --surface-1: #{$surface-1};
    --surface-2: #{$surface-2};
    --surface-3: #{$surface-3};
    --surface-4: #{$surface-4};
    --text-1: #{$text-1};
    --text-alt-1: #{$text-alt-1};
    --text-highlight-1: #{$text-highlight-1};
    --surface-black: #{$eerie-black};
    --surface-black-light: #{$eerie-black-light};
    --surface-teal: #{$surface-teal};
    --surface-violet: #{$surface-violet};
    --surface-rose: #{$surface-rose};

    --font-size-fluid-0: clamp(#{$body-font-size-mobile}, 1.5vw, #{$body-font-size});
    --font-size-fluid-3: clamp(#{$h1-font-size-mobile}, 4vw, #{$h1-font-size});
    
    font-family: $primary-font;
    font-size: $base-font-size;
    font-weight: $base-font-weight-regular;
    line-height: $base-line-height;
    box-sizing: border-box;
    min-height: 100%; /* [2] */
    overflow-y: scroll; /* [1] */
  }
  
  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a,
  a:visited {
    color: $english-violet;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  button {
    background: none;
    border: none;
  }
  
  ul,
  ol {
    font-family: $secondary-font;
    margin: 0;
    padding: 0;
  
    li {
      font-size: var(--font-size-fluid-0);
      font-weight: $base-font-weight-regular;
  
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  
  main {
    ul,
    ol {
      margin-bottom: px-to-rem(30px);
      padding-left: px-to-rem(40px);
  
      ul,
      ol {
        margin-bottom: 0;
      }
  
      li {
        margin: px-to-rem(9px);
        line-height: px-to-rem(27px);
      }
  
      hr {
        height: px-to-rem(1px);
        border: none;
      }
    }
  }