/* ==========================================================================
ELEMENTS
========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */

 :root {
    font-size: $base-font-size;
  }
  
  html {
    --surface-1: #{$surface-1};
    --surface-2: #{$surface-2};
    --surface-3: #{$surface-3};
    --surface-4: #{$surface-4};
    --surface-1-rgb: #{$surface-1-rgb};
    --surface-2-rgb: #{$surface-2-rgb};
    --surface-3-rgb: #{$surface-3-rgb};
    --surface-4-rgb: #{$surface-4-rgb};
    --text-1: #{$text-1};
    --text-alt-1: #{$text-alt-1};
    --text-highlight-1: #{$text-highlight-1};
    --surface-black: #{$eerie-black};
    --surface-black-light: #{$eerie-black-light};
    --surface-black-pale: #{$eerie-black-pale};
    --surface-teal: #{$surface-teal};
    --surface-violet: #{$surface-violet};
    --surface-rose: #{$surface-rose};

    --font-size-fluid-000: clamp(#{$body-v-sml-font-size-mobile}, 1.3vw, #{$body-v-sml-font-size});
    --font-size-fluid-00: clamp(#{$body-sml-font-size-mobile}, 1.4vw, #{$body-sml-font-size});
    --font-size-fluid-0: clamp(#{$body-font-size-mobile}, 1.5vw, #{$body-font-size});
    --font-size-fluid-01: clamp(#{$h3-font-size-mobile}, 1.75vw, #{$h3-font-size});
    --font-size-fluid-21: clamp(#{$h2-font-size-mobile}, 2.5vw, #{$h2-font-size});
    --font-size-fluid-3: clamp(#{$h1-font-size-mobile}, 4vw, #{$h1-font-size});
    --font-size-fluid-4: clamp(#{$h1-lg-font-size-mobile}, 6vw, #{$h1-lg-font-size});

    // --gradient-6: conic-gradient(from 90deg at bottom right, black, white);
    
    font-family: $primary-font;
    font-size: $base-font-size;
    font-weight: $base-font-weight-regular;
    line-height: $base-line-height;
    box-sizing: border-box;
    min-height: 100%; /* [2] */
    overflow-y: scroll; /* [1] */
  }
  
  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a,
  a:visited {
    color: $english-violet;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  button {
    background: none;
    border: none;
  }
  
  ul,
  ol {
    font-family: $secondary-font;
    margin: 0;
    padding: 0;
  
    li {
      font-size: var(--font-size-fluid-0);
      font-weight: $base-font-weight-regular;
  
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  
  main {
    ul,
    ol {
      margin-bottom: px-to-rem(30px);
      padding-left: px-to-rem(40px);
  
      ul,
      ol {
        margin-bottom: 0;
      }
  
      li {
        margin: px-to-rem(9px);
        line-height: px-to-rem(27px);
      }
  
      hr {
        height: px-to-rem(1px);
        border: none;
      }
    }
  }

// Links, anchors

a {
  text-decoration: underline;

  &:hover {
    color: var(--text-highlight-1);
    text-decoration: underline;
  }

  &.light {
    color: var(--surface-1);

    &:hover {
      color: darken($surface-2, 33%);
    }
  }
}

:where(hr) {
  background-color: var(--surface-black-pale);
  margin-block: var(--size-fluid-2);
}

blockquote {
  border-color: var(--surface-teal);
  max-inline-size: var(--size-content-3);

  &.bq-alt{ 
    border-inline-start-width: 0;

    >* {
      font-size: var(--font-size-fluid-1);
    }
  }
}
