.content-canvas {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 
    [full-start]
      1fr
    [wide-start]
      minmax(0, 25ch)
    [main-start]
      minmax(10ch, calc(#{$break-medium} - 3rem))
    [main-mid]
      minmax(10ch, auto)
    [main-end]
      minmax(0, 25ch)
    [wide-end]
      1fr
    [full-end];
  grid-auto-flow: row;
}

@include respond-to('large') {
  .content-canvas {
    grid-template-columns: 
      [full-start]
        minmax(3vw, 1fr)
      [wide-start]
        minmax(10vw,  25ch)
      [main-start]
        minmax(calc(#{$break-very-small} - 3rem), calc((#{$break-small} - 3rem) * 3 / 5))
      [main-mid]
        minmax(20ch, calc((#{$break-small} - 3rem) * 2 / 5))
      [main-end]
        minmax(10vw, 25ch)
      [wide-end]
        minmax(3vw, 1fr)
      [full-end];
    // grid-template-rows: fit-content(25ch);
  }
}

.content-canvas > *, 
.content-canvas-item-left,
.content-canvas-item-right {
  width: 100%;
  grid-column: main-start/main-end;

  .fig-image {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    img {
      width: 100%;
    }
  } 
}

.content-canvas-item-wide {
  grid-column: wide-start/wide-end;
}

.content-canvas-item-wide-left {
  grid-column: wide-start/main-end;
  
  @include respond-to('large') {
    grid-column: wide-start/main-mid;
  }
}

.content-canvas-item-full {
  grid-column: full-start/full-end;
}

@include respond-to('medium') {
  .content-canvas-item-left {
    grid-column: main-start/main-mid;
  }

  .content-canvas-item-right,
  .content-canvas-item-wide-right {
    grid-column: main-mid/main-end;

    &.content-canvas-item-right--span-2 {
      grid-row: span 2;

      + * {
        grid-column: main-start/main-mid; 
      }
    }

    &.content-canvas-item-right--span-3 {
      grid-row: span 3;

      + *,
      + * + * {
        grid-column: main-start/main-mid; 
      }
    }

    &.content-canvas-item-right--span-4 {
      grid-row: span 4;

      + *,
      + * + *,
      + * + * + * {
        grid-column: main-start/main-mid; 
      }
    }

    &.content-canvas-item-right--span-5 {
      grid-row: span 5;

      + *,
      + * + *,
      + * + * + *,
      + * + * + * + * {
        grid-column: main-start/main-mid; 
      }
    }
  }

  .content-canvas-item-wide-left {
    grid-column: wide-start/main-mid;
  }

  .content-canvas-item-wide-right {
    grid-column: main-mid/wide-end;
  }

  .pull-right {
    grid-column: main-mid/main-end;
    grid-row: span 4;
  }

  .pull-right + *,
  .pull-right + * + *,
  .pull-right + * + * + * {
    grid-column: main-start/main-mid;
  }
}
