.faux-block-link-parent {
  position: relative;

  &:hover {
    a {
      text-decoration: none;
    }

    .single-meta-forward {
      &::after {
        transform: translateX(5px);
      }
    }
  }
}

.faux-block-link {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
