.index-list {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  // row-gap: 1.5rem;

  li {
    margin: 0;
    padding: 1rem;
    position: relative;
    background-image: var(--gradient-6);
    border-width: 1px;
    border-style: solid;
    border-color: lighten($text-1, 50%);
    max-inline-size: unset;

    &:first-child {
      grid-column: 1 / -1;
    }

    &:hover {
      a {
        text-decoration: none;
      }

      .img {
        transform: scale(1.05);
      }
    }
  }
}

.index-list__item {
  grid-column: span 3;
  min-height: px-to-rem(150px);
  display: flex;

  .index-list__item__content {
    position: relative;
    z-index: 1;
    align-self: flex-end;

    .item-meta {
      font-size: var(--font-size-fluid-00);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: px-to-rem(10px);
    }
  }

  .divider {
    height: 5px;
    width: 5px;
    background-color: var(--text-2);
    border-radius: 50%;
    display: inline-block;
  }

  h2 {
    font-size: var(--font-size-fluid-21);
  }

  picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    overflow: hidden;

    img {
      block-size: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}

.index-list__item--picture {
  color: var(--surface-2);

    a {
      color: var(--surface-2);

      &:visited {
        color: var(--surface-2);
      }
    }

    .divider {
      background-color: var(--surface-2);
    }
  }

@include respond-to('small') {
  .index-list__item {
    min-height: px-to-rem(250px);
  }
}

@include respond-to('medium') {
  .index-list__item {
    grid-column: unset;
    min-height: px-to-rem(350px);
  }

  .index-list__item-large {
    grid-column: span 2;
  }
}

.index-list__item-first {
  min-height: px-to-rem(450px);
}

  // .tags {
  //   text-align: right;

  //   > * {
  //     padding-right: px-to-rem(5px);
  //     border-right: 1px solid var(--text-1);

  //     &:last-child {
  //         padding-right: unset;
  //         border-right: unset;
  //     }
  //   }
  // }
