.page {
  position: relative;

  .page__metadata {
    margin-block: var(--size-5);
    padding-block: var(--size-3);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: lighten($text-1, 67%);
  }

  >* {
    position: relative;
    z-index: 1;
  }

  .separator {
    text-align: center;
    margin-block: var(--size-3);
    padding-block: var(--size-2);
    font-size:  var(--size-7);
  }
}

.page-title {
  padding: px-to-rem($mobile-space) 0;
  margin-block-end: px-to-rem($mobile-space);
}

.page-title__heading {
  font-size: var(--font-size-fluid-3);
}

.page--with-hero {
  padding-block-start: 60vh;

  .page-title {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 60vh;
    color: var(--surface-1);
    display: flex;
    padding: px-to-rem(2 * $mobile-space) 0;
    margin-block-end: 0;
  }

  .title-bar {
    align-self: flex-end;
  }
}

.page__summary {

  :where(p) {
    font-size: var(--font-size-fluid-1);
    line-height: var(--size-6);
    font-weight: 600;
  }
}
