@use "sass:color";
@use "images";
@use "../common/variables";

:where(figcaption) {
  font-size: var(--font-size-0);
}

.picture--block,
.figure--block {
  margin-block: 2rem;
}

.picture--outline {
  border-width: 1px;
  border-style: solid;
  border-color: color.adjust(variables.$text-1, $lightness: 67%);
}

.picture--hero,
.figure--hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 60vh;
  overflow: hidden;

  // img {
  //   block-size: 100%;
  // }

  picture {
    block-size: 100%;
    overflow: hidden;
  }

  figcaption {
    max-width: 35ch;
    font-size: var(--font-size-0);
    line-height: var(--font-lineheight-0);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: var(--size-1) var(--size-2);
    background-color: rgba(var(--surface-2-rgb), 66%);
  }
}
