@import "./images";

:where(figcaption) {
  font-size: var(--font-size-0);
}

.picture--block,
.figure--block {
  margin-block: 2rem;
}

.picture--outline {
  border-width: 1px;
  border-style: solid;
  border-color: lighten($text-1, 67%);
}

.picture--hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 60vh;
  overflow: hidden;

  img {
    block-size: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
