    <ul class="index-list">
    {% set cls = cycler("odd", "even") %}
    {% set sze = cycler("large","small") %}
    {% for item in items %}
      {% set vr = cls.next() %}
      {% if loop.index != 1 and vr == "even" %}
      {% set trash = sze.next() %}
      {% endif %}

      <li class="faux-block-link-parent index-list__item index-list__item-{{ loop.index }}{% if loop.first %} index-list__item-first{% endif %} index-list__item-{{ vr }}{% if loop.index != 1 %} index-list__item-{{ sze.next() }}{% endif %}{% if item.data.image.path %} index-list__item--picture{% endif %}">
        <div class="index-list__item__content">
          {% if item.data.tags and showTags !== false %}
          {% set itemTags = [] %}
          {%- for tag in item.data.tags %}
            {% if tag | starts_with("#", true) %}
            {% set itemTags = (itemTags.push(tag), itemTags) %}
            {% endif %}
          {% endfor %}
          <div class="metadata__tags tags">
          {%- for tag in itemTags %}
            <span class="metadata__tags__tag">{{ tag }}</span>
						{% if loop.last !== true %}
					  <span class="metadata__divider divider"></span>
            {% endif %}
          {% endfor %}
          </div>
          {% endif %}
          <h2><a href="{{ item.url | url }}"{% activepath item.url, page.url %}>{{ item.data.title }}</a></h2>
          {% if loop.first and item.data.description %}
          <div class="h5-style">
          {{ item.data.description | markdown | safe }}
          </div>
          {% endif %}
          <div class="metadata item-meta">
            <time class="item-date">{{ item.date | readableDate("LLLL yyyy") }}</time>
            <span class="divider"></span>
            <span class="item-reading-time">{{ item.content | timeToRead }} read</span></div>
        </div>
        <a href="{{ item.url | url }}"{% activepath item.url, page.url %} class="faux-block-link"><span class="hide-text" aria-hidden="true">{{ item.data.title }}</span></a>
        {% if item.data.image.path %}
          {% image item.data.image.path, item.data.image.alt, item.data.image.class, item.data.image.pictureClass.list %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>

{% if showPaginationNav !== false and pagination.pages|length > 1 %}

    <nav class="pagination">
      <ol>
        <li class="pagination-item first">{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}"><span title="First">First</span></a>{% else %}<span title="First">First</span>{% endif %}</li>
        <li class="pagination-item previous">{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"><span title="Previous">Previous</span></a>{% else %}<span title="Previous">Previous</span>{% endif %}</li>
    {% for pageEntry in pagination.pages %}
        {% if page.url == pagination.hrefs[ loop.index0 ] %}
        <li>Page {{loop.index}} of {{ pagination.hrefs | length }}</li>
        {% endif %}
        {# <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} class="current" aria-current="page"{% endif %}>{{ loop.index }}</a></li> #}
    {% endfor %}
        <li class="pagination-item next">{% if pagination.href.next %}<a href="{{ pagination.href.next }}"><span title="Next">Next</span></a>{% else %}<span title="Next">Next</span>{% endif %}</li>
        <li class="pagination-item last">{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}"><span title="Last">Last</span></a>{% else %}<span title="Last">Last</span>{% endif %}</li>
      </ol>
    </nav>

{% endif %}