{% if tags | hasTag('#writing') %}
	<div class="site-content site-content--small-padding site-content--zero-spacing content-canvas-item-wide">
		<hr />
	</div>

	<div class="site-content site-content--small-padding">

      <p>Thanks for reading.</p>
      <p>If you enjoyed this story, please follow this blog for more.</p>
      <p>You can also <a href="https://mstdn.social/@joesb" rel="noopener" target="_blank">follow me on Mastodon</a>, to carry on the conversation.</p>
      <p>Joe</p>

  </div>

{% endif %}
