    <main id="content" class="main">
			{% if not primary %}
			<div class="site-content content-canvas">
				{% include "layouts/components/title-bar.njk" %}
				{{ layoutContent | safe }}
			</div>
			{% else %}

				{{ layoutContent | safe }}

			{% endif %}
		</main>