@use "sass:color";
@use "../common/base-variables" as bvar;
@use "../common/variables" as var;
@use "../tools/px-to-rem";

/* ==========================================================================
ELEMENTS
========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */

 :root {
    font-size: bvar.$root-font-size;
  }
  
  html {
    //Colours
    --color-floral-white: #{var.$floral-white};
    --color-cosmic-latte: #{var.$cosmic-latte};
    --color-parchment: #{var.$parchment};
    --color-eerie-black: #{var.$eerie-black};
    --color-english-violet: #{var.$english-violet};
    --color-dark-cyan: #{var.$dark-cyan};
    --color-french-rose: #{var.$french-rose};
    --color-white: #{var.$white};
    --color-black: var(--color-eerie-black);

    //Shades
    --color-eerie-black-light: #{var.$eerie-black-light};
    --color-eerie-black-pale: #{var.$eerie-black-pale};
    --color-english-violet-darker: #{var.$english-violet-darker};
    --color-dark-cyan-darker: #{var.$dark-cyan-darker};
    --color-french-rose-darker: #{var.$french-rose-darker};

    --surface-1: var(--color-white);
    --surface-2: var(--color-floral-white);
    --surface-3: var(--color-cosmic-latte);
    --surface-4: var(--color-parchment);
    --surface-1-rgb: #{var.$surface-1-rgb};
    --surface-2-rgb: #{var.$surface-2-rgb};
    --surface-3-rgb: #{var.$surface-3-rgb};
    --surface-4-rgb: #{var.$surface-4-rgb};
    --color-text: var(--color-black);
    --color-text-white: var(--color-white);
    --text-1: var(--color-black);
    --text-alt-1: var(--surface-violet);
    --text-highlight-1: var(--color-dark-cyan);
    --surface-black: var(--color-eerie-black);
    --surface-black-light: var(--color-eerie-black-light);
    --surface-black-pale: var(--color-eerie-black-pale);
    --surface-teal: var(--color-dark-cyan);
    --surface-violet: var(--color-english-violet);
    --surface-rose: var(--color-french-rose);
    --surface-rose-darker: var(--color-french-rose-darker);
    --color-brand-primary: var(--surface-teal);
    --color-brand-primary-dark: var(--color-dark-cyan-darker);
    --color-brand-secondary: var(--surface-violet);
    --color-brand-secondary-dark: var(--color-english-violet-darker);
    --color-brand-white: var(--color-white);
    --color-brand-black: var(--color-black);
    --color-red: var(--color-french-rose);

    --font-size-fluid-000: clamp(#{var.$body-v-sml-font-size-mobile}, 1.3vw, #{var.$body-v-sml-font-size});
    --font-size-fluid-00: clamp(#{var.$body-sml-font-size-mobile}, 1.4vw, #{var.$body-sml-font-size});
    --font-size-fluid-0: clamp(#{var.$body-font-size-mobile}, 1.5vw, #{var.$body-font-size});
    --font-size-fluid-01: clamp(#{var.$h4-font-size-mobile}, 1.75vw, #{var.$h3-font-size});
    --font-size-fluid-21: clamp(#{var.$h2-font-size-mobile}, 2.5vw, #{var.$h2-font-size});
    --font-size-fluid-3: clamp(#{var.$h1-font-size-mobile}, 4vw, #{var.$h1-font-size});
    --font-size-fluid-4: clamp(#{var.$h1-lg-font-size-mobile}, 6vw, #{var.$h1-lg-font-size});

    --size-content-1-1: 30ch;
    --size-content-1-2: 35ch;

    // --gradient-6: conic-gradient(from 90deg at bottom right, black, white);
    
    font-family: var.$primary-font;
    font-size: bvar.$root-font-size;
    font-weight: var.$base-font-weight-regular;
    line-height: var.$base-line-height;
    box-sizing: border-box;
    min-height: 100%; /* [2] */
    overflow-y: scroll; /* [1] */
  }
  
  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  button {
    background: none;
    border: none;
  }
  
  ul,
  ol {
    font-family: var.$secondary-font;
    margin: 0;
    padding: 0;
  
    li {
      font-size: var(--font-size-fluid-0);
      font-weight: var.$base-font-weight-regular;
  
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  
  main {
    ul,
    ol {
      margin-bottom: px-to-rem.px-to-rem(30px);
      padding-left: px-to-rem.px-to-rem(40px);
  
      ul,
      ol {
        margin-bottom: 0;
      }
  
      li {
        margin: px-to-rem.px-to-rem(9px);
        line-height: px-to-rem.px-to-rem(27px);
      }
  
      hr {
        height: px-to-rem.px-to-rem(1px);
        border: none;
      }
    }
  }

// Links, anchors

:where(a) {
  text-decoration: underline;
  color: var(--color-english-violet);

  &:visited {
    color: var(--color-english-violet);
  }

  &:hover,
  &:focus {
    color: var(--text-highlight-1);
    text-decoration: underline;
  }

  &.light {
    color: var(--surface-1);

    &:hover {
      color: color.adjust(var.$surface-2, $lightness: -33%);
    }
  }
}

:where(hr) {
  background-color: var(--surface-black-pale);
  margin-block: var(--size-fluid-2);
}

blockquote {
  border-color: var(--surface-teal);
  border-inline-start-width: var(--border-size-4);
  max-inline-size: var(--size-content-3);
  margin-block: var(--size-fluid-2);
  padding-block: 0;
  font-style: italic;

  &.bq-alt{ 
    border-inline-start-width: 0;

    >* {
      font-size: var(--font-size-fluid-1);
      line-height: var(--font-lineheight-2) !important;
    }
  }
}

// Center things
.text-center {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
