@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Elements
# Components
# Typography
# Layout
# Accessibility
# Forms
# Media
# Navigation
*/
/*--------------------------------------------------------------
# OpenProps
--------------------------------------------------------------*/
/* ==========================================================================
*    OPENPROPS 
*
*    cf. https://open-props.style/
========================================================================== */
/* the props */
@import "https://unpkg.com/open-props";
/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.light.min.css";
@import "https://unpkg.com/open-props/buttons.light.min.css";
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/* ==========================================================================
VARIABLES
========================================================================== */
/* --------------------------------------------------------------
# Tools
-------------------------------------------------------------- */
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* ==========================================================================
ELEMENTS
========================================================================== */
/**
 * Simple page-level setup.
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */
:root {
  font-size: 18px; }

html {
  --surface-1: white;
  --surface-2: #fdf8ed;
  --surface-3: #fcf5e5;
  --surface-4: #fbf1da;
  --text-1: #1c1d21;
  --text-alt-1: #4a4063;
  --text-highlight-1: #55868c;
  --font-size-fluid-0: clamp(0.88889rem, 1.5vw, 0.94444rem);
  --font-size-fluid-3: clamp(1.55556rem, 4vw, 2rem);
  font-family: "Nunito Sans", var(--font-sans);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.05556rem;
  box-sizing: border-box;
  min-height: 100%;
  /* [2] */
  overflow-y: scroll;
  /* [1] */ }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a,
a:visited {
  color: #4a4063; }

a:hover,
a:focus {
  text-decoration: none; }

button {
  background: none;
  border: none; }

ul,
ol {
  font-family: "Nunito Sans", var(--font-sans);
  margin: 0;
  padding: 0; }
  ul li,
  ol li {
    font-size: var(--font-size-fluid-0);
    font-weight: 300; }
    ul li:last-child,
    ol li:last-child {
      margin-bottom: 0px; }

main ul,
main ol {
  margin-bottom: 1.66667rem;
  padding-left: 2.22222rem; }
  main ul ul,
  main ul ol,
  main ol ul,
  main ol ol {
    margin-bottom: 0; }
  main ul li,
  main ol li {
    margin: 0.5rem;
    line-height: 1.5rem; }
  main ul hr,
  main ol hr {
    height: 0.05556rem;
    border: none; }

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* ==========================================================================
COMPONENTS
========================================================================== */
.header-main {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--surface-2);
  color: var(--text-1);
  box-shadow: var(--shadow-2); }

.header-main__inner {
  position: relative;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between; }

@media only screen and (min-width: 48rem) {
  .header-main__inner {
    padding: 1rem 1.5rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: ".... logo ...." ".... nav ....";
    grid-template-columns: 1fr 2fr 1fr; }
  .header-main__logo {
    grid-area: logo;
    display: flex;
    justify-content: center; }
  .header-main__nav {
    grid-area: nav; } }

.header-main__logo {
  position: relative;
  z-index: 10;
  flex: 0 0 50ch; }

.css-nav {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.site-content {
  padding: 1.5em 0;
  margin-bottom: 1.0rem; }
  @media only screen and (min-width: 48rem) {
    .site-content {
      padding: 6em 0; } }

.site-content--zero-padding {
  padding: 0; }
  @media only screen and (min-width: 48rem) {
    .site-content--zero-padding {
      padding: 0; } }

.site-content--zero-top-padding {
  padding-top: 0; }
  @media only screen and (min-width: 48rem) {
    .site-content--zero-top-padding {
      padding-top: 0; } }

.site-content--zero-bottom-padding {
  padding-bottom: 0; }
  @media only screen and (min-width: 48rem) {
    .site-content--zero-bottom-padding {
      padding-bottom: 0; } }

.site-content--zero-spacing {
  margin: 0; }

.content-canvas {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: [full-start] 1fr [wide-start] minmax(0, auto) [main-start] minmax(15ch, calc(64rem - 3rem)) [main-mid] minmax(15ch, auto) [main-end] minmax(0, auto) [wide-end] 1fr [full-end];
  grid-auto-flow: row; }

@media only screen and (min-width: 64rem) {
  .content-canvas {
    grid-template-columns: [full-start] minmax(3vw, 1fr) [wide-start] minmax(6vw, auto) [main-start] minmax(calc(26rem - 3rem), calc((36rem - 3rem) * 3 / 5)) [main-mid] minmax(20ch, calc((36rem - 3rem) * 2 / 5)) [main-end] minmax(6vw, auto) [wide-end] minmax(3vw, 1fr) [full-end]; } }

.content-canvas > *,
.content-canvas-item-left,
.content-canvas-item-right {
  width: 100%;
  grid-column: main-start/main-end; }
  .content-canvas > * .fig-image,
  .content-canvas-item-left .fig-image,
  .content-canvas-item-right .fig-image {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0; }
    .content-canvas > * .fig-image img,
    .content-canvas-item-left .fig-image img,
    .content-canvas-item-right .fig-image img {
      width: 100%; }

.content-canvas-item-wide {
  grid-column: wide-start/wide-end; }

.content-canvas-item-full {
  grid-column: full-start/full-end; }

@media only screen and (min-width: 48rem) {
  .content-canvas-item-left {
    grid-column: main-start/main-mid; }
  .content-canvas-item-right {
    grid-column: main-mid/main-end; }
    .content-canvas-item-right.content-canvas-item-right--span-2 {
      grid-row: span 2; }
      .content-canvas-item-right.content-canvas-item-right--span-2 + * {
        grid-column: main-start/main-mid; }
    .content-canvas-item-right.content-canvas-item-right--span-3 {
      grid-row: span 3; }
      .content-canvas-item-right.content-canvas-item-right--span-3 + *,
      .content-canvas-item-right.content-canvas-item-right--span-3 + * + * {
        grid-column: main-start/main-mid; }
    .content-canvas-item-right.content-canvas-item-right--span-4 {
      grid-row: span 4; }
      .content-canvas-item-right.content-canvas-item-right--span-4 + *,
      .content-canvas-item-right.content-canvas-item-right--span-4 + * + *,
      .content-canvas-item-right.content-canvas-item-right--span-4 + * + * + * {
        grid-column: main-start/main-mid; }
    .content-canvas-item-right.content-canvas-item-right--span-5 {
      grid-row: span 5; }
      .content-canvas-item-right.content-canvas-item-right--span-5 + *,
      .content-canvas-item-right.content-canvas-item-right--span-5 + * + *,
      .content-canvas-item-right.content-canvas-item-right--span-5 + * + * + *,
      .content-canvas-item-right.content-canvas-item-right--span-5 + * + * + * + * {
        grid-column: main-start/main-mid; }
  .content-canvas-item-wide-left {
    grid-column: wide-start/main-mid; }
  .content-canvas-item-wide-right {
    grid-column: main-mid/wide-end; }
  .pull-right {
    grid-column: main-mid/main-end;
    grid-row: span 4; }
  .pull-right + *,
  .pull-right + * + *,
  .pull-right + * + * + * {
    grid-column: main-start/main-mid; } }

.faux-block-link-parent {
  position: relative; }
  .faux-block-link-parent:hover a {
    text-decoration: none; }
  .faux-block-link-parent:hover .single-meta-forward::after {
    transform: translateX(5px); }

.faux-block-link {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.page-title {
  padding: 1.0rem 0;
  margin-bottom: 1.0rem; }

.index-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem; }
  .index-list li {
    margin: 0;
    padding: 1rem;
    position: relative;
    background-color: var(--surface-4);
    border-width: 1px;
    border-style: solid;
    border-color: #c5c7ce;
    max-inline-size: unset; }
    .index-list li:first-child {
      grid-column: 1 / -1; }
    .index-list li.item-large {
      grid-column: span 2; }
    .index-list li:hover a {
      text-decoration: none; }
    .index-list li:hover .img {
      transform: scale(1.05); }
  .index-list .tags {
    text-align: right; }
    .index-list .tags > * {
      padding-right: 0.27778rem;
      border-right: 1px solid var(--text-1); }
      .index-list .tags > *:last-child {
        padding-right: unset;
        border-right: unset; }
  .index-list .img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out; }
    .index-list .img:not(.img-full) {
      max-height: 250px; }

.pagination {
  margin-top: 2.0rem; }
  .pagination ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0; }
  .pagination .pagination-item {
    position: relative;
    margin: 0.5rem;
    height: 1.5rem; }
    .pagination .pagination-item span {
      overflow: hidden;
      text-indent: -9000px;
      display: block;
      height: 0; }
      .pagination .pagination-item span::before {
        cursor: not-allowed;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 1rem;
        font-size: 1.5rem;
        color: var(--text-alt-1);
        z-index: 2;
        text-indent: 0; }
    .pagination .pagination-item a span::before {
      cursor: pointer;
      color: var(--text-1); }
    .pagination .pagination-item.first span::before {
      content: '\00AB'; }
    .pagination .pagination-item.previous span::before {
      content: '\2039'; }
    .pagination .pagination-item.next span::before {
      content: '\203A'; }
    .pagination .pagination-item.last span::before {
      content: '\00BB'; }
  .pagination .current {
    font-weight: 700; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* ==========================================================================
TYPOGRAPHY
========================================================================== */
p,
.body-style {
  width: 100%;
  font-family: "Nunito Sans", var(--font-sans);
  font-size: var(--font-size-fluid-0);
  font-weight: 300;
  line-height: 1.38889rem;
  font-style: normal;
  color: inherit;
  margin-block: 0.75rem; }

.secondary-font {
  font-family: "Nunito Sans", var(--font-sans); }

.headings-font {
  font-family: "PT Serif", var(--font-serif); }

/* Shared styles */
h1,
h2,
h3,
h4,
h5,
h6,
.h1-style,
.h2-style,
.h3-style,
.h4-style,
.h5-style,
.h6-style {
  color: inherit;
  font-family: "PT Serif", var(--font-serif);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin: 0;
  mix-blend-mode: normal; }

h1,
.h1-style {
  font-size: var(--font-size-fluid-3); }

h2,
.h2-style {
  font-size: var(--font-size-fluid-2); }

h3,
.h3-style {
  font-size: var(--font-size-fluid-1); }

h4,
.h4-style {
  font-size: var(--font-size-fluid-0); }

.bold {
  font-weight: 700; }

.centered {
  text-align: center; }

.hide-text {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  height: 0; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.do-not-display {
  display: none; }

.no-margin {
  margin: 0; }

.header-highlight {
  border-left: 2px solid;
  padding-left: 1.11111rem;
  margin: 1.88889rem 0; }
  .header-highlight blockquote {
    margin: 0; }

.section-header.section-header--narrow {
  width: 100%; }
  @media only screen and (min-width: 36rem) {
    .section-header.section-header--narrow {
      max-width: 22.22222rem; } }
  @media only screen and (min-width: 64rem) {
    .section-header.section-header--narrow {
      max-width: 29.66667rem; }
      @supports (-ms-ime-align: auto) {
        .section-header.section-header--narrow {
          width: 100%; } } }

.section-header__text {
  font-size: 1.72222rem;
  line-height: 3.16667rem;
  font-family: "Nunito Sans", var(--font-sans);
  margin: 0;
  position: relative;
  text-align: left;
  overflow: hidden;
  padding-top: 1.27778rem;
  padding-bottom: 1.27778rem; }
  @media only screen and (min-width: 64rem) {
    .section-header__text {
      font-size: 2.66667rem;
      line-height: 4.05556rem; } }
  .section-header__text span {
    padding: 1.27778rem 1.11111rem;
    padding-top: 1.27778rem;
    padding-bottom: 1.27778rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    @media only screen and (min-width: 64rem) {
      .section-header__text span {
        padding: 1.27778rem 2.44444rem; } }

.caption {
  font-family: "Nunito Sans", var(--font-sans);
  font-style: normal;
  font-weight: normal;
  font-size: 0.66667rem;
  line-height: 0.88889rem;
  text-align: center; }

.supporting-text {
  font-size: 0.66667rem;
  line-height: 0.88889rem;
  margin-top: 0.58056rem; }
  @media only screen and (min-width: 48rem) {
    .supporting-text {
      font-size: 0.77778rem;
      line-height: 1.11111rem; } }

.inline-text {
  display: inline; }

.large-body-text {
  font-size: 1.05556rem;
  line-height: 1.44444rem;
  font-weight: 300; }
  @media only screen and (min-width: 48rem) {
    .large-body-text {
      font-size: 1.38889rem;
      line-height: 2.05556rem; } }

.white-text {
  color: var(--surface-1); }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/* ==========================================================================
LAYOUT
========================================================================== */
body {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas: "head head head head head" "main main main main main" ".... .... foot .... ....";
  grid-template-columns: 2fr 1fr minmax(30ch, 64rem) 1fr 2fr; }

header {
  grid-area: head; }

main {
  grid-area: main;
  min-height: 100vh;
  flex-grow: 1; }

footer {
  grid-area: foot;
  display: grid;
  grid-auto-flow: row;
  gap: 1.5em;
  padding: 3em 1.5em; }
  @media only screen and (min-width: 48rem) {
    footer {
      padding: 3em 6em; } }

@media only screen and (min-width: 48rem) {
  footer {
    gap: 3em;
    grid-auto-flow: column; } }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.header-main__nav {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 8.05556rem 1.38889rem 1.38889rem 1.38889rem;
  background-color: var(--surface-2); }

.main-nav {
  font-size: var(--font-size-fluid-0); }
  .main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; }
    .main-nav ul li {
      font-weight: 500; }
    .main-nav ul a {
      color: var(--text-1);
      font-weight: 500;
      text-decoration: none;
      display: block;
      padding: 0.55556rem 0.83333rem;
      margin-inline: 0.27778rem; }
      .main-nav ul a:hover {
        background-color: var(--surface-4);
        color: var(--text-1); }
      .main-nav ul a.current {
        color: var(--text-alt-1);
        font-weight: 700; }

.header-main__menu {
  height: 100%;
  cursor: pointer;
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 12;
  padding-right: 1.11111rem;
  box-shadow: unset; }
  .header-main__menu .header-main__menu__text {
    display: none;
    font-size: 0.83333rem; }
  .header-main__menu .open-text {
    display: none;
    color: var(--text-1); }
  .header-main__menu .header-main__menu__burger {
    width: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.44444rem;
    margin-right: 1.33333rem; }
    .header-main__menu .header-main__menu__burger div {
      width: 100%;
      height: 0.16667rem;
      transition: 0.3s ease-in-out;
      border-radius: 0.11111rem;
      background-color: var(--text-1);
      margin-bottom: 0.22222rem; }

.header-main.open-mobile .header-main__nav {
  transition: 0.3s ease-in-out;
  display: flex;
  flex-flow: column;
  overflow: scroll;
  width: 100vw; }

.header-main.open-mobile .header-main__menu.js-closed .header-main__menu__burger div {
  background-color: var(--text-1); }

.header-main.open-mobile .header-main__menu.js-closed .header-main__menu__burger div:nth-child(1) {
  transition: 0.3s ease-in-out;
  display: none; }

.header-main.open-mobile .header-main__menu.js-closed .header-main__menu__burger div:nth-child(2) {
  transition: 0.3s ease-in-out;
  transform: rotate(45deg);
  margin-bottom: -0.16667rem; }

.header-main.open-mobile .header-main__menu.js-closed .header-main__menu__burger div:nth-child(3) {
  transition: 0.3s ease-in-out;
  transform: rotate(-45deg); }

@media only screen and (min-width: 48rem) {
  .header-main__nav {
    display: block;
    position: relative;
    height: unset;
    padding: 0.88889rem; }
  .main-nav ul {
    display: flex;
    justify-content: center; }
    .main-nav ul a {
      padding-block: 0.27778rem; }
  .main-nav li {
    padding: 0; }
    .main-nav li:not(:last-child) {
      border-right: 1px solid var(--text-alt-1); }
    .main-nav li.current a {
      color: var(--text-highlight-1); }
  .header-main__menu {
    display: none; } }

.css-nav--close {
  display: none;
  color: var(--text-1); }

.js .css-nav {
  display: none; }

.js .header-main .header-main__menu .header-main__menu__text {
  display: inline-block; }
  .js .header-main .header-main__menu .header-main__menu__text.open-text {
    display: none; }

.js .header-main.open-mobile .header-main__menu .header-main__menu__text {
  display: inline-block; }
  .js .header-main.open-mobile .header-main__menu .header-main__menu__text.open-text {
    display: inline-block; }
  .js .header-main.open-mobile .header-main__menu .header-main__menu__text.closed-text {
    display: none; }
