---
eleventyComputed:
  meta:
    site:
      name: "{{ metadata.title }}"
      description: "{{ metadata.summary }}"
      url: "{{ metadata.url }}"
      logo:
        src: "{{ metadata.logo.src }}"
        width: "{{ metadata.logo.width }}"
        height: "{{ metadata.logo.height }}"
    image:
      src: "{% if image.social %}{{ metadata.url | trimTrailingSlash }}{% imageData image.social %}{% endif %}"
    language: "{{ metadata.language }}"
    creator:
      person:
        name: "{{ metadata.author.name }}"
    title: "{% if meta.title %}{{ meta.title }}{% else %}{{ title }}{% endif %}"
    description: "{% if meta.description %}{{ meta.description }}{% else %}{{ description }}{% endif %}"
---
<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "layouts/components/head.njk" %}

	<body>

		{# Header #}
		{% include "layouts/components/site-header.njk" %}

		{# {%- if not home -%}
			{% include "components/breadcrumbs.njk" %}
		{% endif %} #}

		{# Main content #}
		{% include "layouts/components/site-main.njk" %}

		{# Footer #}
		{% include "layouts/components/site-footer.njk" %}

	</body>
	<!-- Google Analytics -->
	<!-- End Google Analytics -->
</html>