---
layout: base.njk
section: home
primary: true
hideDescription: true
styles:
  - home.css
---

<div class="site-content site-content--zero-top-padding content-canvas-thin">

  <div class="home-layout content-canvas-item-full item-fade-in item-fade-in-1-5">

    <div class="home-layout__item home-layout__item--left home-layout__item--dark-cyan">
      <div class="home-layout__item__inner">
        <div class="home-layout__item__inner__content">
          {% include "layouts/components/title-bar.njk" %}

          {{ content | safe  }}
        </div>
      </div>
    </div>

    <div class="home-layout__item home-layout__item--right">
      <div class="home-layout__item__inner">
        <a href="/about/">
        {% image image.path, image.alt, image.class, image.pictureClass.page, "(min-width: 30em) 50vw, 100vw", [300, 600] %}
        </a>
      </div>
    </div>

  </div>

  <div class="site-content content-canvas-item-wide">

    {% include "layouts/components/index-list.njk" %}

  </div>
</div>