{% set cardType %}summary_large_image{% endset %}

{% set absoluteUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}

{% if permalink == '/' %}
{% set cardTitle %}{{ metadata.title }} — {{ metadata.alt_title }}{% endset %}
{% set ogType %}website{% endset %}
{% else %}
{% set cardTitle %}{{ title }} | {{ metadata.title }}{% endset %}
{% set ogType %}article{% endset %}
{% endif %}

{% if description and excerpt|length == 0 %}
{% set excerpt = description %}
{% endif %}

{# {% if image.path %}
  {% set cardImage %}{{ metadata.url }}{% imageData image.path %}{% endset %}
{% endif %} #}
  <meta name="twitter:card" content="{{cardType}}" />
  <meta name="twitter:site" content="{{ metadata.twitter }}" />
  <meta name="twitter:creator" content="{{ metadata.author.name }}" />
  <meta property="twitter:title" content="{{cardTitle}}" />
  <meta property="twitter:description" content="{% if excerpt %}{{excerpt}}{% else %}{{metadata.summary}}{% endif %}" />
  {% if image.social or image.path %}
  <meta property="twitter:image" content="{{ metadata.url }}{% if image.social %}{% imageData image.social %}{% else %}{% imageData image.path %}{% endif %}" />
  {% endif %}
  <meta property="twitter:site" content="{{ metadata.twitter }}" />
  <meta property="og:url" content="{{ absoluteUrl }}" />
  <meta property="og:title" content="{{cardTitle}}" />
  <meta property="og:description" content="{% if excerpt %}{{excerpt}}{% else %}{{metadata.summary}}{% endif %}" />
  {% if image.social or image.path %}
  <meta property="og:image" content="{{ metadata.url }}{% if image.social %}{% imageData image.social %}{% else %}{% imageData image.path %}{% endif %}" />
    {% if image.alt %}
  <meta property="og:image:alt" content="{{ image.alt }}">
    {% endif %}
  {% endif %}
  <meta property="og:type" content="{{ogType}}" />
