<form
  action="https://buttondown.com/api/emails/embed-subscribe/drbslibrary"
  method="post"
  class="embeddable-buttondown-form"
  referrerpolicy="unsafe-url"
>
  <div class="form-group form-group--input">
    <label for="bd-email">Your email address<span class="required">*</span></label>
    <input type="email" name="email" id="bd-email" required />
  </div>
  <div class="form-group form-group--submit">
    <input type="submit" value="Subscribe" />
  </div>

  <div class="form-group form-group--suffix">
    <p class="small text-right">
      <strong>No funny business.</strong><br />
      Your email address will only ever be used for this newsletter.
    </p>

    <p class="small text-right">
      <a href="https://buttondown.com/refer/drbslibrary" target="_blank">
        Powered by Buttondown.
      </a>
    </p>
  </div>
</form>
