    <main id="content" class="main">
			{% if not primary and not list %}
			<div class="site-content content-canvas page{% if page.class %} {{ page.class }}{% endif %}">
				{% include "layouts/components/title-bar.njk" %}
				{{ content | safe }}
			</div>
			{% else %}

				{{ content | safe }}

			{% endif %}
		</main>