@use "./tools/respond-to" as rt;
// Bookshop.org widgets
@use "./components/bookshop_org";

.dr-bs-library--list {
  .page-title {
    position: relative;

    &::after {
      display: block;
      content: " ";
      position: absolute;
      top: calc(-1 * var(--size-3));
      right: calc(-1 * var(--size-5));
      // right: 0;
      width: 4rem;
      height: 4rem;
      background-image: url("/static/images/dbl-avatar-01.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.dr-bs-library--page {
  .title-bar--supertitle {
    .single-meta-back {
      &::after {
        display: block;
        content: " ";
        position: absolute;
        top: calc(-1 * var(--size-3));
        right: calc(-1 * var(--size-9));
        width: var(--size-8);
        height: var(--size-8);
        background-image: url("/static/images/dbl-avatar-01-circle-bg.png");
        background-size: contain;
      }
    }
  }

  .page-title--pre-title {
    > p {
      line-height: var(--font-lineheight-1);
      margin-block: 0.33rem;
    }
  }

  .figure--book-cover {
    grid-column: main-mid/full-end;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 30vh;
  }

  .figure-book-cover-picture {
    width: auto;
    height: 80%;
    max-height: 175px;
  }
}

@include rt.respond-to('medium') {
  .dr-bs-library--page {
    .figure--book-cover {
      height: 50vh;
    }

    .figure-book-cover-picture {
      max-height: 250px;
    }
  }
}


@include rt.respond-to('large') {
  .dr-bs-library--page {
    .figure--book-cover {
      grid-column: main-end/full-end;
      height: 60vh;
      justify-items: left;
      margin-inline-end: 1rem;
    }

    .figure-book-cover-picture {
      max-height: 350px;
    }
  }
}