
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@use "common/base-variables";
@use "common/variables";

/* --------------------------------------------------------------
# Tools
-------------------------------------------------------------- */
@use "tools/tools";
@use "tools/respond-to";

.home-layout__item--dark-cyan {
  background-color: variables.$dark-cyan;
  color: var(--surface-1);
}

.home-layout__item__inner {
  padding: clamp(1.5rem, 6vw, 12rem) clamp(2rem, 12vw, 12rem);
}

.home-layout__item__inner__content {
  max-width: 40ch;
  margin-inline: auto;

  :where(p) {
    font-size: var(--font-size-fluid-1);
    line-height: 1.5rem;
  }
}


@include respond-to.respond-to('medium') {
  .home-layout {
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
      "left right"
    ;
    grid-template-columns: 1fr 1fr;
  }

  .home-layout__item--left {
    grid-area: left;
  }

  .home-layout__item--right {
    grid-area: right;
  }

  .home-layout__item__inner {
    padding: clamp(1.5rem, 6vw, 12rem) clamp(2rem, 6vw, 6rem);

  }

  .home-layout__item__inner__content {
    :where(p) {
      line-height: 1.75rem;
    }
  }
}

@include respond-to.respond-to('extra-large') {
  .home-layout__item__inner {
    padding: clamp(1.5rem, 6vw, 12rem) clamp(2rem, 12vw, 12rem);
  }

  .home-layout__item__inner__content {
    :where(p) {
      line-height: 2rem;
    }
  }
}


