<footer class="footer-main">
	<div class="container container--wide">
		<nav aria-label="Find out more" class="footer-main__nav">
			<ul>
				{%- for footer in collections.footerNav -%}
				<li>
					<a href="{{ footer.url | url }}"{% if footer.url == page.url %} data-current="current item" class="current"{% endif %}>{{ footer.data.navtitle }}</a>
				</li>
				{%- endfor -%}
			</ul>
		</nav>
	</div>
</footer>
