.image-greyscale-1 {
  filter: grayscale(1);
}

.image-greyscale-75 {
  filter: grayscale(75%);
}

.image-greyscale-67 {
  filter: grayscale(67%);
}

.image-greyscale-50 {
  filter: grayscale(50%);
}

.image-darken-10 {
  filter: brightness(90%);
}

.image-darken-20 {
  filter: brightness(80%);
}

.image-darken-25 {
  filter: brightness(75%);
}

.image-darken-33 {
  filter: brightness(67%);
}

.image-darken-50 {
  filter: brightness(50%);
}

.image-obj-cover {
  block-size: 100%;
  object-fit: cover;
  object-position: center center;
}

.image-obj-pos-top {
  object-position: center top;
}

.image-obj-pos-higher {
  object-position: center 25%;
}

.image-obj-pos-lower {
  object-position: center 75%;
}

.image-obj-pos-bottom {
  object-position: center bottom;
}
