@use "../tools/px-to-rem";

.metadata,
.item-meta {
  font-size: var(--font-size-fluid-00);
}

.metadata__info,
.item-meta,
.metadata__tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: px-to-rem.px-to-rem(10px);
}

.metadata__divider,
.divider {
  height: 5px;
  width: 5px;
  background-color: var(--text-2);
  border-radius: 50%;
  display: inline-block;
}

.metadata__tags {
  margin-block: 0.5rem;
  font-size: var(--font-size-fluid-000);
}