---
title: 'Topics'
permalink: /tag/
layout: base.njk
---

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>