<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		{# Header #}
		{% include "components/site-header.njk" %}

		{# {%- if not home -%}
			{% include "components/breadcrumbs.njk" %}
		{% endif %} #}

		{# Main content #}
		{% include "components/site-main.njk" %}

		{# Footer #}
		{% include "components/site-footer.njk" %}

	</body>
	<!-- Google Analytics -->
	<!-- End Google Analytics -->
</html>