---
layout: base.njk
section: page
---

	{% if image.path %}
			<figure class="{{ image.figureClass.page }}">
			{% image image.path, image.alt, image.class, image.pictureClass.page %}
			{% if image.caption %}
			<figcaption>{{ image.caption | safe }}{% if image.credit %} {{ image.credit | safe }}{% endif %}</figcaption>
			{% endif %}
			</figure>
	{% endif %}

{% set pageTags = [] %}
{%- for tag in tags %}
	{% if tag | starts_with("#", true) %}
	{% set pageTags = (pageTags.push(tag), pageTags) %}
	{% endif %}
{% endfor %}

	{% if description %}
	<div class="page__summary{% if page.class.includes('page--with-hero') %} content-canvas-item-full content-canvas site-content site-content--zero-spacing{% else %} content-canvas-item-wide-left{% endif %}{% if tags | hasTag('#writing') %} site-content--surface-black-light site-content--surface-dark{% endif %}">

		{% if tags | hasTag('#writing') %}
		<div class="metadata{% if page.class.includes('page--with-hero') %} content-canvas-item-wide-left{% endif %}">
			<div class="metadata__tags">
				{%- for tag in pageTags %}
					<span class="metadata__tags__tag">{{ tag }}</span>
						{% if loop.last !== true %}
					<span class="metadata__divider divider"></span>
					{% endif %}
					
				{% endfor %}
			</div>
		</div>
		{% endif %}
		<div class="page__summary__content{% if page.class.includes('page--with-hero') %} content-canvas-item-wide-left{% endif %}">
			{{ description | markdown | safe }}
		</div>
	</div>
	{% endif %}

	{% if metadata.show !== false %}
	<div class="metadata page__metadata">
		{% if tags | hasTag('#writing', false) %}
		<div class="metadata__tags">
			{%- for tag in pageTags %}
				{% if tag | starts_with("#", true) %}
				<span class="metadata__tags__tag">{{ tag }}</span>
					{% if loop.last !== true %}
				<span class="metadata__divider divider"></span>
				{% endif %}
				{% endif %}
				
			{% endfor %}
		</div>
		{% endif %}

		<div class="metadata__info">
			<span class="metadata__date">
				{{ page.date.toLocaleString('default', { day: 'numeric' }) }} {{ page.date.toLocaleString('default', { month: 'long' }) }}, {{ page.date.toLocaleString('default', {year: "numeric"}) }}</span>
			<span class="metadata__divider divider"></span>
			<span class="metadata__reading-time">{{ content | timeToRead }} read</span>
		</div>
	</div>
	{% endif %}

	{{ layoutContent | safe }}

	{% include "layouts/components/page-footer.njk" %}
