@use "sass:color";
@use "../common/base-variables";
@use "../common/variables";
@use "../tools/px-to-rem";

/* ==========================================================================
ELEMENTS
========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */

 :root {
    font-size: base-variables.$root-font-size;
  }
  
  html {
    --surface-1: #{variables.$surface-1};
    --surface-2: #{variables.$surface-2};
    --surface-3: #{variables.$surface-3};
    --surface-4: #{variables.$surface-4};
    --surface-1-rgb: #{variables.$surface-1-rgb};
    --surface-2-rgb: #{variables.$surface-2-rgb};
    --surface-3-rgb: #{variables.$surface-3-rgb};
    --surface-4-rgb: #{variables.$surface-4-rgb};
    --text-1: #{variables.$text-1};
    --text-alt-1: #{variables.$text-alt-1};
    --text-highlight-1: #{variables.$text-highlight-1};
    --surface-black: #{variables.$eerie-black};
    --surface-black-light: #{variables.$eerie-black-light};
    --surface-black-pale: #{variables.$eerie-black-pale};
    --surface-teal: #{variables.$surface-teal};
    --surface-violet: #{variables.$surface-violet};
    --surface-rose: #{variables.$surface-rose};

    --font-size-fluid-000: clamp(#{variables.$body-v-sml-font-size-mobile}, 1.3vw, #{variables.$body-v-sml-font-size});
    --font-size-fluid-00: clamp(#{variables.$body-sml-font-size-mobile}, 1.4vw, #{variables.$body-sml-font-size});
    --font-size-fluid-0: clamp(#{variables.$body-font-size-mobile}, 1.5vw, #{variables.$body-font-size});
    --font-size-fluid-01: clamp(#{variables.$h3-font-size-mobile}, 1.75vw, #{variables.$h3-font-size});
    --font-size-fluid-21: clamp(#{variables.$h2-font-size-mobile}, 2.5vw, #{variables.$h2-font-size});
    --font-size-fluid-3: clamp(#{variables.$h1-font-size-mobile}, 4vw, #{variables.$h1-font-size});
    --font-size-fluid-4: clamp(#{variables.$h1-lg-font-size-mobile}, 6vw, #{variables.$h1-lg-font-size});

    // --gradient-6: conic-gradient(from 90deg at bottom right, black, white);
    
    font-family: variables.$primary-font;
    font-size: base-variables.$root-font-size;
    font-weight: variables.$base-font-weight-regular;
    line-height: variables.$base-line-height;
    box-sizing: border-box;
    min-height: 100%; /* [2] */
    overflow-y: scroll; /* [1] */
  }
  
  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a,
  a:visited {
    color: variables.$english-violet;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  button {
    background: none;
    border: none;
  }
  
  ul,
  ol {
    font-family: variables.$secondary-font;
    margin: 0;
    padding: 0;
  
    li {
      font-size: var(--font-size-fluid-0);
      font-weight: variables.$base-font-weight-regular;
  
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  
  main {
    ul,
    ol {
      margin-bottom: px-to-rem.px-to-rem(30px);
      padding-left: px-to-rem.px-to-rem(40px);
  
      ul,
      ol {
        margin-bottom: 0;
      }
  
      li {
        margin: px-to-rem.px-to-rem(9px);
        line-height: px-to-rem.px-to-rem(27px);
      }
  
      hr {
        height: px-to-rem.px-to-rem(1px);
        border: none;
      }
    }
  }

// Links, anchors

a {
  text-decoration: underline;

  &:hover {
    color: var(--text-highlight-1);
    text-decoration: underline;
  }

  &.light {
    color: var(--surface-1);

    &:hover {
      color: color.adjust(variables.$surface-2, $lightness: -33%);
    }
  }
}

:where(hr) {
  background-color: var(--surface-black-pale);
  margin-block: var(--size-fluid-2);
}

blockquote {
  border-color: var(--surface-teal);
  max-inline-size: var(--size-content-3);
  margin-block: var(--size-fluid-2);
  padding-block: 0;

  &.bq-alt{ 
    border-inline-start-width: 0;

    >* {
      font-size: var(--font-size-fluid-1);
      line-height: var(--font-lineheight-2) !important;
    }
  }
}
